@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");
html {
  width: 100%;
  overflow-x: hidden;
}

html body {
  background-color: #0A0A0A;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

html body ul,
html body li {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

html body .card {
  background-color: transparent;
  border: 0;
  padding: 0;
}

html body .card .card-body {
  background-color: transparent;
  border: 0;
  padding: 0;
}

html body .cursor {
  cursor: pointer;
}

html body .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

html body .loader h5 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6,
html body p {
  margin-bottom: 0;
}

html body .h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  line-height: 37px;
}

html body .h2::before, html body .h2::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
  height: 3px;
  background-color: #FF7A00;
}

html body .h2::after {
  right: -90px;
}

html body .h2::before {
  left: -90px;
}

html body img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body a {
  text-decoration: none;
  color: #fff;
  outline: none !important;
}

html body a:hover {
  text-decoration: none !important;
  color: #ccc;
}

html body .myBtn {
  background: #FF7A00;
  color: #fff;
  padding: 8px 40px;
  text-align: center;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .myBtn.outLine {
  background: #1C1D1E;
  border: 3px solid #FF7A00;
}

html body .myBtn.outLine:hover {
  color: #fff;
}

html body .navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
}

html body .navBar .container {
  background: #ffffff80;
  padding: 8px 15px 8px 35px;
  border-radius: 15px;
  margin-top: 20px;
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
}

html body .navBar ul {
  margin-left: 40px;
}

html body .navBar ul li {
  margin-right: 50px;
}

html body .navBar ul li a {
  color: #000;
}

html body .navBar .myBtn {
  margin-left: auto;
}

html body .header {
  background: url(../image/headerBg2.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  padding: 270px 0 150px;
  position: relative;
}

html body .header .headerBorder {
  position: absolute;
  width: 681px;
  height: 520px;
  border: 10px solid #FF7A00;
  border-right-color: transparent;
  border-radius: 5px;
  top: -58px;
  right: -200px;
  z-index: -1;
}

html body .header h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  text-shadow: 0 0 10px silver;
  color: #000;
}

html body .header p {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 73px 0 85px;
  width: 60%;
  color: #000;
}

html body .howWork {
  background: url(../image/headerImg.png) no-repeat center;
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  position: relative;
  padding: 60px 0;
}

html body .howWork h4 {
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: rgba(255, 122, 0, 0.5);
  font-family: 'Montserrat', sans-serif;
  margin-right: 18px;
}

html body .howWork h3 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

html body .howWork .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000a1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

html body .galary {
  padding: 90px 0 50px 0;
}

html body .galary h2 {
  margin-bottom: 90px;
}

html body .galary .card {
  border-radius: 10px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: relative;
  cursor: pointer;
}

html body .galary .card i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
  z-index: 11;
  background: #000000a1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 91px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .galary .card::after {
  content: '';
  position: absolute;
  bottom: -20px;
  right: -16px;
  width: 100%;
  height: 100%;
  border: 3px solid #FF7A00;
  border-radius: 10px;
  z-index: -1;
}

html body .galary .card .card-body h5 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background: #000000a1;
  padding: 10px 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

html body .galary .card .card-body img {
  border-radius: 10px;
}

html body .galary .card:hover i {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */