@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html ::-moz-selection {
  background-color: #000;
  color: #FEB040;
}

html ::selection {
  background-color: #000;
  color: #FEB040;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-track {
  background: transparent;
}

html ::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 15px;
}

html body {
  background-color: #0A0A0A;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

html body ul,
html body li {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

html body .card {
  background-color: transparent;
  border: 0;
  padding: 0;
}

html body .card .card-body {
  background-color: transparent;
  border: 0;
  padding: 0;
}

html body .cursor {
  cursor: pointer;
}

html body .loader {
  width: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .loader .loader-one {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 50%;
  border-color: transparent #FEB040;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: loader 1s infinite linear;
          animation: loader 1s infinite linear;
}

html body .loader .loader-two {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 50%;
  border-color: #FEB040 transparent;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: loaderSecond 1s infinite linear;
          animation: loaderSecond 1s infinite linear;
}

html body .loader .loader-three {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 50%;
  border-color: transparent #FEB040;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  -webkit-animation: loader .5s infinite linear;
          animation: loader .5s infinite linear;
}

@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loaderSecond {
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

@keyframes loaderSecond {
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

html body .spiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99999;
  position: fixed;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

html body .spiner.none {
  z-index: -11;
  opacity: 0;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6,
html body p {
  margin-bottom: 0;
}

html body .h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  line-height: 37px;
  font-family: 'Montserrat', sans-serif;
}

html body .h2::before, html body .h2::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
  height: 3px;
  background-color: #FEB040;
}

html body .h2::after {
  right: -100px;
}

@media (max-width: 992px) {
  html body .h2::after {
    width: 15%;
    right: -7%;
  }
}

html body .h2::before {
  left: -100px;
}

@media (max-width: 992px) {
  html body .h2::before {
    width: 15%;
    left: -7%;
  }
}

html body img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body a {
  text-decoration: none;
  color: #fff;
  outline: none !important;
}

html body a:hover {
  text-decoration: none !important;
  color: #ccc;
}

html body .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000a1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

html body .myBtn {
  background: #FEB040;
  color: #fff;
  padding: 8px 40px;
  text-align: center;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .myBtn.outLine {
  background: #1C1D1E;
  border: 3px solid #FF7A00;
}

html body .myBtn.outLine:hover {
  color: #fff;
}

html body .ourProducts {
  padding: 50px 0;
}

html body .navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: #fffdfbdb;
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  padding: 26px 0;
}

html body .navBar .burger {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 25px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 999999;
  display: none;
  margin-left: auto;
  padding-right: 40px;
}

html body .navBar .burger .burger1,
html body .navBar .burger .burger2,
html body .navBar .burger .burger3 {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #000;
  border-radius: 20px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

html body .navBar .burger .burger1 {
  top: 0;
}

html body .navBar .burger .burger2 {
  top: 9px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 37%;
  right: 15px;
}

html body .navBar .burger .burger3 {
  top: 18px;
}

html body .navBar .burger.burgered .burger1 {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
  background-color: #FEB040;
}

html body .navBar .burger.burgered .burger2 {
  opacity: 0;
}

html body .navBar .burger.burgered .burger3 {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
  background-color: #FEB040;
}

@media (max-width: 992px) {
  html body .navBar .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

html body .navBar .mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000000f2;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  display: none;
}

html body .navBar .mobile .myBtn {
  background-color: #FEB040;
  padding: 12px 24px;
}

html body .navBar .mobile ul {
  margin-left: 0;
  line-height: 90px;
  text-align: center;
}

html body .navBar .mobile ul li {
  margin-right: 0;
}

html body .navBar .mobile ul li a {
  color: #fff;
}

html body .navBar .mobile.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 992px) {
  html body .navBar .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 992px) {
  html body .navBar .container {
    background: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    margin-top: 0;
  }
}

html body .navBar ul {
  margin-left: 40px;
}

html body .navBar ul li {
  margin-right: 50px;
}

html body .navBar ul li a {
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html body .navBar ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FEB040;
  bottom: -10px;
  left: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html body .navBar ul li a:hover, html body .navBar ul li a.active {
  color: #FEB040;
}

html body .navBar ul li a:hover::after, html body .navBar ul li a.active::after {
  bottom: -29.5px;
  opacity: 1;
}

@media (max-width: 1200px) {
  html body .navBar ul li {
    margin-right: 30px;
  }
}

@media (max-width: 1200px) {
  html body .navBar ul {
    margin-left: 20px;
  }
}

html body .navBar .myBtn {
  margin-left: auto;
  color: #000;
  background-color: #2c2c2c1f;
}

@media (max-width: 1200px) {
  html body .navBar .myBtn h6 {
    display: none;
  }
}

@media (max-width: 1200px) {
  html body .navBar .myBtn {
    padding: 8px 10px;
  }
}

@media (max-width: 992px) {
  html body .navBar {
    -webkit-backdrop-filter: blur(21px);
            backdrop-filter: blur(21px);
    background: #ffffffdc;
  }
}

html body .navBar.active {
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  background: #ffffffdc;
  position: fixed;
  -webkit-animation: anim .8s ease-in-out;
          animation: anim .8s ease-in-out;
}

html body .navBar.active .container {
  background: transparent;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  margin-top: 0;
}

@-webkit-keyframes anim {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes anim {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

html body .header {
  background: url(../image/headerBg2.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  padding: 270px 0 150px;
  position: relative;
}

html body .header .desktop {
  display: block;
}

@media (max-width: 992px) {
  html body .header .desktop {
    display: none;
  }
}

html body .header .mobiles {
  display: none;
}

@media (max-width: 992px) {
  html body .header .mobiles {
    display: block;
  }
}

html body .header .myCol.secondary {
  -webkit-transform: translateX(70px) !important;
          transform: translateX(70px) !important;
}

@media (max-width: 992px) {
  html body .header .myCol.secondary {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
}

@media (max-width: 992px) {
  html body .header .myCol {
    margin-top: 100px;
  }
}

html body .header .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000083;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

html body .header .typed-text {
  color: #FEB040;
}

html body .header .headerBorder {
  position: absolute;
  width: 681px;
  height: 520px;
  border: 10px solid #FEB040;
  border-right-color: transparent;
  border-radius: 5px;
  top: -58px;
  right: -200px;
  z-index: -1;
}

html body .header h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 767px) {
  html body .header h1 {
    font-size: 36px;
    line-height: 45px;
  }
}

html body .header p {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 73px 0 85px;
  width: 60%;
  color: #fff;
}

@media (max-width: 992px) {
  html body .header p {
    margin: 40px 0 60px;
    width: 100%;
  }
}

@media (max-width: 992px) {
  html body .header {
    padding-top: 80px;
    text-align: center;
  }
}

html body .howWork {
  background: url(../image/headerBg3.jpg) no-repeat center;
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  position: relative;
  padding: 60px 0;
}

html body .howWork h4 {
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #FF7A00;
  font-family: 'Montserrat', sans-serif;
  margin-right: 18px;
}

html body .howWork h3 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 992px) {
  html body .howWork {
    height: auto;
  }
}

html body .galary {
  padding: 90px 0 50px 0;
}

html body .galary h2 {
  margin-bottom: 90px;
}

html body .galary .card {
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  cursor: pointer;
}

html body .galary .card i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
  z-index: 11;
  background: #000000a1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 91px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .galary .card::after {
  content: '';
  position: absolute;
  bottom: -20px;
  right: -16px;
  width: 100%;
  height: 100%;
  border: 3px solid #FF7A00;
  border-radius: 10px;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html body .galary .card .card-body h5 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background: #000000a1;
  padding: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

html body .galary .card .card-body img {
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html body .galary .card:hover {
  -webkit-transform: translateY(-10px) scale(1.05);
          transform: translateY(-10px) scale(1.05);
}

html body .galary .card:hover::after {
  bottom: -40px;
}

html body .galary .card:hover img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

html body .galary .card:hover i {
  opacity: 1;
}

html body .galaryHeader {
  padding: 60px 0;
  height: 400px;
  background: url(../image/products.webp) no-repeat center;
}

html body .galaryHeader.myTop {
  background-position-y: -260px;
}

html body .galaryHeader .blur {
  background-color: #000000a6;
}

html body .blog {
  padding: 50px 0;
}

html body .blog .col-lg-4:nth-child(2) {
  margin-top: 150px;
}

@media (max-width: 992px) {
  html body .blog .col-lg-4:nth-child(2) {
    margin-top: 0;
  }
}

html body .blog .card {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding: 30px 20px;
  overflow: hidden;
}

html body .blog .card .card-body h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

html body .blog .card .card-body p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #e3e3e3;
  margin: 55px 0 60px;
}

html body .blog .card .card-body img {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

html body .blog .card:hover {
  -webkit-box-shadow: 0 0 10px rgba(192, 192, 192, 0.521);
          box-shadow: 0 0 10px rgba(192, 192, 192, 0.521);
}

html body .blog .card:hover img {
  -webkit-transform: scale(1.08) rotate(5deg);
          transform: scale(1.08) rotate(5deg);
  border-radius: 30px;
}

html body .tabServices {
  padding: 80px 0 50px 0;
}

html body .tabServices h6 {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  font-family: 'Montserrat';
  margin: 80px 0 50px;
}

html body .tabServices h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #FF7A00;
  font-family: 'Montserrat';
  text-align: center;
}

html body .tabServices .card .card-body h5 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  margin-top: 25px;
  text-align: center;
  color: #F17D11;
  font-family: 'Montserrat', sans-serif;
}

html body .tabServices .card .card-body p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 40px 0 0;
  font-family: 'Montserrat', sans-serif;
}

html body .tabServices .card .card-body img {
  height: 400px;
}

html body .tabServices .nav li .a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 5px solid transparent;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .tabServices .nav li .a i {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #00000040;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  html body .tabServices .nav li .a i {
    text-align: center;
    font-size: 18px;
  }
}

html body .tabServices .nav li .a.active {
  border-color: #FEB040;
}

@media (max-width: 992px) {
  html body .tabServices .nav li {
    width: 50%;
  }
}

@media (max-width: 992px) {
  html body .tabServices .nav {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

html body .tabServices .h2 {
  margin-bottom: 80px;
}

html body .clientAbout {
  padding: 50px 0;
}

html body .clientAbout .carousel-inner {
  border-radius: 0 100px;
}

html body .clientAbout h2 {
  margin-bottom: 60px;
}

html body .clientAbout h3 {
  margin-bottom: 20px;
}

html body .zed {
  z-index: 10;
}

html body .myTop {
  background-attachment: fixed !important;
  background-size: cover !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 0 0 100px 0;
  background-color: #0a0a0a;
}

html body .myTop .blur {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  background-color: #00000073;
  border-radius: 0 0 100px 0;
}

html body .myTop h4 {
  font-size: 40px;
  letter-spacing: 1px;
  color: #FEB040;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

html body .aboutCompany {
  padding: 60px 0;
  height: 400px;
  background: url(../image/aboutBg2.jpg) no-repeat center;
}

html body .aboutCompany .blur {
  background-color: #000000a6;
}

html body .aboutUs {
  background: url(../image/headerBg2.webp) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding: 60px 0;
}

html body .aboutUs .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000000;
}

html body .aboutUs .blog {
  border: 4px solid #FF7A00;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

html body .aboutUs .blog p {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: 'Montserrat';
}

html body .aboutUs .blog h5 {
  font-size: 70px;
  line-height: 122px;
  letter-spacing: 0.05em;
  color: #FF7A00;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
}

@media (max-width: 767px) {
  html body .aboutUs .blog h5 {
    font-size: 80px;
  }
}

html body .aboutContent {
  padding: 50px 0;
}

@media (max-width: 992px) {
  html body .aboutContent .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

html body .aboutContent .myCols {
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  html body .aboutContent .myCols {
    width: 100%;
  }
}

html body .aboutContent .myCol {
  position: relative;
}

html body .aboutContent .myCol::after {
  content: '';
  position: absolute;
  background-color: #FEB040;
  opacity: 0.7;
  height: 1px;
  bottom: -60px;
  width: 80%;
  opacity: 0.4;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1200px) {
  html body .aboutContent .myCol ~ div img {
    width: 100%;
  }
}

html body .aboutContent h2 {
  color: #FEB040;
  margin-bottom: 20px;
}

html body .aboutContent p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 29px;
}

html body .aboutContent h5 {
  font-size: 16px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
}

html body .aboutContent h5::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 7px;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background-color: #FEB040;
}

html body .aboutContent h5:nth-child(2)::before {
  display: none;
}

html body .aboutContent h5:nth-child(2)::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 7px;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background-color: #FEB040;
}

html body .aboutContent a {
  font-weight: normal;
  margin-left: 10px;
}

html body .companies {
  background: #ffffffbd;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

html body .companies .row {
  padding: 30px 0;
  overflow: hidden;
}

html body .companies .row .myCol .first {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

@media (max-width: 992px) {
  html body .companies .row .myCol .first {
    width: 75% !important;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 992px) {
  html body .companies .row .myCol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html body .companies .row div {
  text-align: center;
}

@media (max-width: 992px) {
  html body .companies .row div img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  html body .companies .row div {
    margin-bottom: 30px;
    margin-right: 0 !important;
  }
}

@media (max-width: 992px) {
  html body .companies .row {
    padding-bottom: 20px;
    padding-top: 30px;
  }
}

@media (max-width: 992px) {
  html body .myH2 {
    display: none;
  }
}

html body .footer {
  background: #000;
  padding: 40px 0 30px 0;
}

html body .footer h2 {
  font-size: 50px;
  font-family: 'Comic Sans MS', sans-serif;
}

html body .footer .a {
  font-size: 30px;
}

@media (max-width: 767px) {
  html body .footer .a {
    font-size: 25px;
  }
}

html body .footer h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

html body .footer p {
  font-size: 12px;
  margin-bottom: 18px;
}

html body .footer .i {
  font-size: 24px;
}

html body .footer .myLine {
  width: 100%;
  background-color: #FEB040;
  opacity: 0.6;
  height: 1px;
  margin: 10px 0 20px 0;
}

html body .footer h6 {
  margin: 0 auto;
  font-size: 12px;
}

html body .footer h6 a {
  color: silver;
}

html body .contacts {
  padding: 60px 0;
  height: 500px;
  background: url(../image/contacts.jpg) no-repeat center;
}

html body .contacts .blur {
  background-color: #000000a6;
}

html body .contactsContent {
  padding: 50px 0;
}

html body .contactsContent h1 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 15px;
}

html body .contactsContent i {
  font-size: 22px;
  margin-right: 20px !important;
}

html body .contactsContent p {
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 30px;
}

html body .contactsContent iframe {
  border-radius: 0 50px;
}

html body .portfolio {
  padding-bottom: 80px;
}

html body .portfolio .h2 {
  margin: 100px 0;
}

html body .portfolio .image-gallary {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

html body .portfolio .image-gallary .image-box {
  position: relative;
  overflow: hidden;
}

html body .portfolio .image-gallary .image-box i {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
}

html body .portfolio .image-gallary .image-box:nth-child(7n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

@media (max-width: 767px) {
  html body .portfolio .image-gallary .image-box:nth-child(7n + 1) {
    grid-column: unset;
    grid-row: unset;
  }
}

html body .portfolio .image-gallary .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

html body .portfolio .image-gallary .image-box:hover i {
  opacity: 1;
  background-color: #ff802d80;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

html body .portfolioPage {
  background: url(../image/house/bg.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 500px;
}

html body .seePortfolio {
  padding: 150px 0 50px;
}

html body .seePortfolio .table {
  border: 0;
}

html body .seePortfolio ::-webkit-scrollbar {
  height: 5px;
}

html body .seePortfolio ::-webkit-scrollbar-track {
  background: transparent;
}

html body .seePortfolio ::-webkit-scrollbar-thumb {
  background: #494949;
  border-radius: 30px;
}

html body .seePortfolio h2 {
  color: #FEB040;
  font-size: 40px;
}

html body .seePortfolio h1 {
  color: #FEB040;
  font-size: 30px;
  margin: 40px 0 10px;
}

html body .seePortfolio h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 29px;
}

html body .seePortfolio h6 {
  font-size: 22px;
  margin: 20px 0 30px;
}

html body .seePortfolio h5 {
  margin-bottom: 15px;
}

html body .seePortfolio p {
  position: relative;
  padding-left: 20px;
}

html body .seePortfolio p::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #FEB040;
  border-radius: 3px;
  left: -3px;
  top: 8px;
}

html body .seePortfolio .img {
  margin-top: 30px;
}

html body .seePortfolio .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html .portfolioSee {
  padding: 150px 0 50px;
}

html .portfolioSee h5, html .portfolioSee h6 {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 25px;
  line-height: 37px;
}

html .portfolioSee h6 {
  margin-bottom: 10px !important;
}

html .portfolioSee p {
  padding-left: 20px;
  font-size: 18px;
  margin-top: 10px;
  color: #FEB040;
}

html .myBg {
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 992px) {
  html .myBg {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */